/* body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}

.container{
   margin-left: -15px;
}

/* form */
.signup-form {
    background: white;
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(244, 242, 242, 0.886);
    max-width: 400px;
    width: 100%;
}

.signup-form h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.signup-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
}

.signup-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.signup-form input:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.3);
}

/* name fields */

.name-fields {
    display: flex;
    justify-content: space-around;
    gap: 33px; 
}

.name-fields > div {
    flex: 1; 
}

/* password fields */

.Password-fields {
    display: flex;
    justify-content: space-around;
    gap: 33px; 
}

.Password-fields > div {
    flex: 1; 
}

/* create account button */

.signup-form button {
    width: 27rem;
    background-color:black;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form button:hover {
    background-color: #012246;
}

/* other option to sign up google and apple */
.signup-form .other-options {
    text-align: center;
    color: #666;
    margin: 10px 0;
}

.signup-form .icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.icons{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.signup-form .icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #555;
}

.signup-form .icons a img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.signup-form .icons a:hover {
    color: #007BFF;
}

.signup-form a {
    color: #007BFF;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}

/* image of google and apple*/
img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.panda-img {
    margin-left: -2rem;
    display: block;
}

.panda-img img {
    height: 93.4vh;
    width: 460px;
}



/* Responsive Design */

@media (max-width: 480px) {
    .signup-form {
        padding: 15px 20px;
    }
    
    .signup-form h1 {
        font-size: 20px;
    }
    
    .signup-form button {
        font-size: 14px;
        padding: 8px 12px;
    }
    
    .name-fields {
        flex-direction: column; 
    }
}